<div class="wrapper">
	<nav>
		<div class="logo">
			<img src="/assets/images/logo.png" />
		</div>
		<ul class="options">
			<li class="nav-option">
				<a routerLink="/">
                    Home
                </a>
			</li>
			<li class="nav-option">
				<a routerLink="/dashboard">
                    Dashboard
                </a>
			</li>
			<li class="nav-option">
				<a routerLink="/about">
                    About
                </a>
			</li>
			<li class="nav-option">
				<a routerLink="/create">
                    Create
                </a>
			</li>
			<li class="nav-option">
				<app-user-status></app-user-status>
			</li>
		</ul>
	</nav>
</div>